<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="fileMaintenance" type="FileMaintenance.Configuration.FileMaintenanceConfigSection, FileMaintenance" />
    <section name="mailSettings" type="FileMaintenance.Configuration.MailSettingsConfigSection, FileMaintenance" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="Log.Path" value="C:\FileMaintenance\_Log"/>
    <add key="EmailTemplate.Path" value="C:\Dev\Git\Administration\LogMaintenance\bin\Debug\EmailTemplate\LogMaintenanceSummaryEmail.cshtml" />
  </appSettings>
  <fileMaintenance summary="true" xmlns="http://king-ict.hr/FileMaintenanceSchema.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema">
    <item name="HrvatskeVodeLog" path="D:\_HrvatskeVode\_HrvatskeVodeLog" keepFor="700.0:0">
      <backups>
        <add name="HrvatskeVodeBackupLog" path="D:\_HrvatskeVode\Backup\_HrvatskeVodeLog" keepFor="700.0:0"/>
      </backups>
    </item>
    <item name="HrvatskeVodeLog2" path="D:\_HrvatskeVode\_HrvatskeVodeLog2" keepFor="700.0:0">
      <backups>
        <add name="HrvatskeVodeBackupLog2" path="D:\_HrvatskeVode\Backup\_HrvatskeVodeLog2" keepFor="700.0:0"/>
      </backups>
    </item>
    <alerts>
      <add when="LowDisk"/>
    </alerts>
  </fileMaintenance>
  <mailSettings xmlns="http://king-ict.hr/MailSettingsSchema.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema">
    <server name="ex2king.king-ict.corp" timeout="10000" />
    <credentials username="" password="" />
    <from email="kosovic.marko1@king-ict.hr" />
    <recipients>
      <add email="kosovic.marko1@king-ict.hr" />
    </recipients>
  </mailSettings>
</configuration>